#h1{ 
      font-family : "arial","sans-serif";
      Text-size : 50px;
      Text-Align : center;
       }
section{
     background-color:grey ;
     Border : 1px solid black; 
     Padding : 10px ;
     Margin : 10px ;
     }
     
#head1,#head2,#head3{
        Border : 1px solid black;
        Margin : 5px;
        Padding : 5px;
        Text-align : right;
        
   }
#head1{
        background-color:yellow;
      }
 #head2{
        background-color:red;
      }
#head3{
        background-color:blue;
      }
#heading{
     Width : 70px;
     Border : 1px solid black;
     Text-align : center;
   }
   
   @media(max-width :767) and (min-width :300 )         {      sec1,sec2,sec3 {
          float:left;}
        sec1{width:90%   }
        sec2{width:90%;  }
        sec3{width:90%;  }
   }  
   @media(max-width :991) and (min-width :768) {
   
   .sec1,.sec2,.sec3{
          float:left;}
          sec1{width:45%;   }
          sec2{width:45%   }
          sec3{width:45%   }
   }  
   @media(max-width :1200) and (min-width :992) {
   
   
   .sec,.sec,.sec3 {
          float:left ;}
          sec1{width:30%   }
          sec2{width:30%   }
          sec3{width:30%   }
}